.Container117_update .back {
  /* oui:arrow-up */

  position: absolute;
  width: 36px;
  height: 36px;
  left: 285px;
  top: 108px;
  margin: 0;
  /* Vector */

  color: #4f4f4f;

  text-align: center;
  font-size: 25px;

  cursor: pointer;
}

.Container117_update h3 {
  /* 새 프로필 */

  position: absolute;
  width: 219px;
  height: 48px;
  left: 330px;
  top: 100px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  /* or 138% */
  display: flex;
  align-items: center;

  color: #0f0f0f;

  text-align: left;
}

.Container117_update .school {
  /* 선택 */

  box-sizing: border-box;

  position: absolute;
  width: 763px;
  height: 63px;
  left: 330px;
  top: 200px;

  background: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 18px;

  /* 소속 */

  padding-left: 31px;
  padding-top: 15px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  color: #4f4f4f;
}

.Container117_update .content {
  /* 선택 */

  box-sizing: border-box;

  position: absolute;
  width: 763px;
  height: 226px;
  left: 330px;
  top: 290px;

  background: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 18px;

  /* 소개 */

  padding-left: 31px;
  padding-top: 15px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  color: #4f4f4f;
}

.add_img1 {
  /* Frame 290 */

  box-sizing: border-box;

  position: absolute;
  width: 368px;
  height: 258px;
  left: 330px;
  top: 543px;

  background: #ffffff;
  border: 1px dashed #b2b2b2;
  border-radius: 18px;
}

.add_img1 p:first-child {
  /* 포스터를 추가하세요 */

  position: absolute;
  width: 168.49px;
  height: 27px;
  left: 100px;
  top: 101px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  /* or 167% */

  text-align: center;

  color: #0f0f0f;
  margin: 0;
}

.add_img1 p:last-child {
  /* 기기에서 업로드 */

  position: absolute;
  width: 168.49px;
  height: 24px;
  left: 100px;
  top: 133px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* or 203% */

  text-align: center;
  text-decoration-line: underline;

  color: #0f0f0f;
  margin: 0;
}

.add_img2 {
  /* Frame 291 */

  box-sizing: border-box;

  position: absolute;
  width: 368px;
  height: 258px;
  left: 725px;
  top: 542px;

  background: #ffffff;
  border: 1px dashed #b2b2b2;
  border-radius: 18px;
}

.add_img3 {
  /* Frame 292 */

  box-sizing: border-box;

  position: absolute;
  width: 368px;
  height: 258px;
  left: 330px;
  top: 828px;

  background: #ffffff;
  border: 1px dashed #b2b2b2;
  border-radius: 18px;
}

.add_img4 {
  /* Frame 289 */

  box-sizing: border-box;

  position: absolute;
  width: 368px;
  height: 258px;
  left: 725px;
  top: 828px;

  background: #ffffff;
  border: 1px dashed #b2b2b2;
  border-radius: 18px;
}

.add_img2 img,
.add_img3 img,
.add_img4 img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 164px;
  top: 109px;
}

.Container117_update h4 {
  /* 공연자 */

  position: absolute;
  width: 219px;
  height: 38px;
  left: 330px;
  top: 1166px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  /* or 138% */
  display: flex;
  align-items: center;

  color: #000000;
}

.add_person {
  /* Frame 283 */

  box-sizing: border-box;

  position: absolute;
  width: 170.84px;
  height: 126.27px;
  left: 330px;
  top: 1260px;

  background: #ffffff;
  border: 1.5px solid #e8e8e8;
  border-radius: 14px;
}

.add_person p {
  /* 멤버를 추가하세요 */

  margin: 0;

  position: absolute;
  width: 132.48px;
  height: 23.07px;
  left: 19.53px;
  top: 42.51px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12.8515px;
  line-height: 22px;
  /* or 174% */

  text-align: center;

  color: #0f0f0f;
}

.add_person img {
  /* Frame 21 */

  position: absolute;
  width: 22.02px;
  height: 22.02px;
  left: 72.21px;
  top: 67.67px;
}

.Container117_update button {
  /* Frame 31 */

  position: absolute;
  width: 167px;
  height: 51.12px;
  left: 926px;
  top: 1607px;

  background: #09f1b9;
  border-radius: 14px;

  border: none;

  /* 완료 */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 142% */

  text-align: center;

  color: #0f0f0f;
}
