.RentalCompleted {
  /* 예매하기 */

  position: absolute;
  width: 697px;
  height: 318px;
  left: 707px;
  top: 250px;
  padding: 0;

  background: #ffffff;
  border-radius: 25px;
}

.RentalCompleted h1 {
  /* 대관 신청이 완료됐습니다! */

  position: absolute;
  width: 424px;
  height: 48px;
  left: 91px;
  top: 61px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  /* or 75% */
  display: flex;
  align-items: center;

  color: #0f0f0f;
}

.RentalCompleted p {
  /* 공연장이 승인하기까지 시간이 소요될 수 있습니다 */

  position: absolute;
  width: 547px;
  height: 30px;
  left: 91px;
  top: 130px;
  margin: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */
  display: flex;
  align-items: center;

  color: #696969;
}

.RentalCompleted button {
  /* 예매하기 버튼 */

  box-sizing: border-box;

  position: absolute;
  width: 242px;
  height: 48px;
  left: 228px;
  top: 209px;
  margin: 0;

  background: #09f1b9;
  border: 1px solid #09f1b9;
  border-radius: 14px;

  /* 확인 */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: center;

  color: #0f0f0f;
  border: none;
}
